html, body {
	height: 100%;
}

body {
	background: url(/img/logins/login-bg.jpg);
	background-size: cover;
	background-position: center center;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: #333;
}

body.footprints-page {
	background: #002852;	
}

.jumbotron h1, .jumbotron .h1 {
	font-size: 32px;
}

a {
	color: #111;
}

a:hover {
	color: #06203c;
}

label {
	font-weight: normal;
	font-size: 13px;
}

div.logo {
	background: url(/img/logins/porterdavis/porterdavis-logo.jpg);
	height: 130px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.form-control {
height: 45px;
padding: 12px 15px;
}

button.submit {
	width: 100%;
	background: #002852;
	border: 0;
	height: 45px;
}

button.submit:hover {
	background: #002852;
	border: 0;	
}

.btn-success {
color: #fff;
background-color: #002852 !important;
border-color: #002852 !important;
}

.btn-link {
font-weight: normal;
color: #777;
cursor: pointer;
border-radius: 0;
}

.btn-link:hover {
	color: #002852;	
}

.jumbotron {
	background: none !important;
}

.jumbotron .btn {
padding: 14px 24px;
font-size: 16px;
line-height: 1;
}

.jumbotron p {
margin-bottom: 15px;
font-size: 16px;
font-weight: 200;
}

.jumbotron-links {
	text-align: center;
}

.container {
	height: 100%;
	position: relative;
}

.container .jumbotron {
width: 250px;
height: 330px;
padding: 0;
top: 50%;
position: absolute;
left: 50%;
margin: -250px 0 0 -125px;
}

.form-horizontal .form-group {
margin-right: 0;
margin-left: 0;
}


.jumbotron form {
	font-family: 'Roboto', sans-serif;
}

.col-md-offset-3,
.col-md-6,
.col-md-12 {
	margin: 0;
	width: 100%;
	padding: 0;
}

.footer {
	text-align: center;
position: absolute;
bottom: 0;
left: 50%;
margin: 0 0 0 -58px;
border-top: 0;
font-size: 12px;
}

.footer img {
	margin: 0 0 10px 0; 
}